@model RealEstateApp.Models.Listings

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Listings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ListingsId" />
            <div class="form-group">
                <label asp-for="ListingNumber" class="control-label"></label>
                <input asp-for="ListingNumber" class="form-ctrl" />
                <span asp-validation-for="ListingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmlsNumber" class="control-label"></label>
                <input asp-for="SmlsNumber" class="form-ctrl" />
                <span asp-validation-for="SmlsNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TuNuevoEspacioNumber" class="control-label"></label>
                <input asp-for="TuNuevoEspacioNumber" class="form-ctrl" />
                <span asp-validation-for="TuNuevoEspacioNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsSmlsPromoted" class="control-label"></label>
                <input asp-for="IsSmlsPromoted" class="form-ctrl" />
                <span asp-validation-for="IsSmlsPromoted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsTuNuevoEspacioPromoted" class="control-label"></label>
                <input asp-for="IsTuNuevoEspacioPromoted" class="form-ctrl" />
                <span asp-validation-for="IsTuNuevoEspacioPromoted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListingType" class="control-label"></label>
                <input asp-for="ListingType" class="form-ctrl" />
                <span asp-validation-for="ListingType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-ctrl" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-ctrl" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <input asp-for="Department" class="form-ctrl" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloqueNumber" class="control-label"></label>
                <input asp-for="BloqueNumber" class="form-ctrl" />
                <span asp-validation-for="BloqueNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitNumber" class="control-label"></label>
                <input asp-for="UnitNumber" class="form-ctrl" />
                <span asp-validation-for="UnitNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrbanizationName" class="control-label"></label>
                <input asp-for="UrbanizationName" class="form-ctrl" />
                <span asp-validation-for="UrbanizationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Neighborhood" class="control-label"></label>
                <input asp-for="Neighborhood" class="form-ctrl" />
                <span asp-validation-for="Neighborhood" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estrato" class="control-label"></label>
                <input asp-for="Estrato" class="form-ctrl" />
                <span asp-validation-for="Estrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesPrice" class="control-label"></label>
                <input asp-for="SalesPrice" class="form-ctrl" />
                <span asp-validation-for="SalesPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdministrationFee" class="control-label"></label>
                <input asp-for="AdministrationFee" class="form-ctrl" />
                <span asp-validation-for="AdministrationFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkingSpaces" class="control-label"></label>
                <input asp-for="ParkingSpaces" class="form-ctrl" />
                <span asp-validation-for="ParkingSpaces" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HasOpenKitchen" class="control-label"></label>
                <input asp-for="HasOpenKitchen" class="form-ctrl" />
                <span asp-validation-for="HasOpenKitchen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HasElevator" class="control-label"></label>
                <input asp-for="HasElevator" class="form-ctrl" />
                <span asp-validation-for="HasElevator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsClosedUrbanization" class="control-label"></label>
                <input asp-for="IsClosedUrbanization" class="form-ctrl" />
                <span asp-validation-for="IsClosedUrbanization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkCompaniesId" class="control-label"></label>
                <select asp-for="FkCompaniesId" class="form-ctrl" asp-items="ViewBag.FkCompaniesId"></select>
                <span asp-validation-for="FkCompaniesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HasBalcony" class="control-label"></label>
                <input asp-for="HasBalcony" class="form-ctrl" />
                <span asp-validation-for="HasBalcony" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HasMaidRoom" class="control-label"></label>
                <input asp-for="HasMaidRoom" class="form-ctrl" />
                <span asp-validation-for="HasMaidRoom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsStudio" class="control-label"></label>
                <input asp-for="IsStudio" class="form-ctrl" />
                <span asp-validation-for="IsStudio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HasPool" class="control-label"></label>
                <input asp-for="HasPool" class="form-ctrl" />
                <span asp-validation-for="HasPool" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearBuilt" class="control-label"></label>
                <input asp-for="YearBuilt" class="form-ctrl" />
                <span asp-validation-for="YearBuilt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkContactsId" class="control-label"></label>
                <select asp-for="FkContactsId" class="form-ctrl" asp-items="ViewBag.FkContactsId"></select>
                <span asp-validation-for="FkContactsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaSize" class="control-label"></label>
                <input asp-for="AreaSize" class="form-ctrl" />
                <span asp-validation-for="AreaSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfRooms" class="control-label"></label>
                <input asp-for="NumberOfRooms" class="form-ctrl" />
                <span asp-validation-for="NumberOfRooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfBathrooms" class="control-label"></label>
                <input asp-for="NumberOfBathrooms" class="form-ctrl" />
                <span asp-validation-for="NumberOfBathrooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<style>
    .form-ctrl {
        display: block;
        width: 450px;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
</style>
