@model RealEstateApp.Models.Users

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Users</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-ctrl"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-ctrl" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Names" class="control-label"></label>
                <input asp-for="Names" class="form-ctrl" />
                <span asp-validation-for="Names" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastNames" class="control-label"></label>
                <input asp-for="LastNames" class="form-ctrl" />
                <span asp-validation-for="LastNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-ctrl" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-ctrl" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlternateNumber" class="control-label"></label>
                <input asp-for="AlternateNumber" class="form-ctrl" />
                <span asp-validation-for="AlternateNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkCompaniesId" class="control-label"></label>
                <select asp-for="FkCompaniesId" class ="form-ctrl" asp-items="ViewBag.FkCompaniesId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<style>
    .form-ctrl {
  display: block;
  width: 450px;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
</style>